.battle-pokemon {
	position: relative;
	width:80%;
	height:80%;
	text-align: center;
}

.battle-pokemon p {
	height:80px;
	font-size:75px;
}
.battle-pokemon .arena {
	position: relative;
	background-color: rgba(200,200,200, 1);
	width:100%;
	height: calc(100% - 80px);
}

.battle-pokemon .arena .hp {
	position: absolute;
	font-size: 25px;
	width: 200px;
}
.battle-pokemon .arena .percentage {
	width:100%;
	height:20px;
	background-color:green;
	transition: width 1s;
}

.battle-pokemon .arena .player-pokemon,
.battle-pokemon .arena .enemy-pokemon {
	position: absolute;
	width:400px;
	height:400px;
}

.battle-pokemon .arena .player-pokemon img,
.battle-pokemon .arena .enemy-pokemon img{
	left:0;
	top:0;
	position: absolute;
	width:400px;
	height:400px;
}

.battle-pokemon .arena .player-pokemon {
	bottom:0;
	left:0;
}

.battle-pokemon .arena .player-pokemon .attack {
	animation-duration: 1s;
	animation-name: player-attack;
}

.battle-pokemon .arena .player-pokemon .defend {
	animation-duration: 1s;
	animation-name: player-defend;
}

.battle-pokemon .arena .player-pokemon .hp {
	right:-200px;
	bottom:0;
}

@keyframes player-attack {
	0% {transform: rotate(0deg);}
	25% {left: 100px; bottom: 40px; transform: rotate(20deg);}
	50% {left: 300px; bottom: 80px; transform: rotate(-20deg);}
	75% {left: 600px; bottom: 100px; transform: rotate(20deg);}
	100% {left: 0px; bottom: 0px; transform: rotate(0deg);}
}

@keyframes player-defend {
	0% {left: 0px; top: 0px; transform: rotate(0deg);}
	75% {left: 0px; top: 0px; transform: rotate(0deg);}
	80% {left: 20px; top: 20px; transform: rotate(20deg);}
	85% {left: -20px; top: -20px; transform: rotate(-20deg);}
	90% {left: 20px; top: 20px; transform: rotate(20deg);}
	95% {left: -20px; top: -20px; transform: rotate(-20deg);}
	100% {left: 0px; top: 0px; transform: rotate(0deg);}
}

.battle-pokemon .arena .enemy-pokemon {
	top:0;
	right:0;
}

.battle-pokemon .arena .enemy-pokemon .attack {
	animation-duration: 1s;
	animation-name: enemy-attack;
}

.battle-pokemon .arena .enemy-pokemon .defend {
	animation-duration: 1s;
	animation-name: enemy-defend;
}

.battle-pokemon .arena .enemy-pokemon .hp {
	left:-200px;
	top:0;
}

@keyframes enemy-attack {
	0% {transform: rotate(0deg);}
	25% {left: -100px; top: 40px; transform: rotate(20deg);}
	50% {left: -300px; top: 80px; transform: rotate(-20deg);}
	75% {left: -600px; top: 100px; transform: rotate(20deg);}
	100% {left: 0px; top: 0px; transform: rotate(0deg);}
}

@keyframes enemy-defend {
	0% {left: 0px; top: 0px; transform: rotate(0deg);}
	75% {left: 0px; top: 0px; transform: rotate(0deg);}
	80% {left: 20px; top: 20px; transform: rotate(20deg);}
	85% {left: -20px; top: -20px; transform: rotate(-20deg);}
	90% {left: 20px; top: 20px; transform: rotate(20deg);}
	95% {left: -20px; top: -20px; transform: rotate(-20deg);}
	100% {left: 0px; top: 0px; transform: rotate(0deg);}
}

.battle-pokemon .arena .menu {
	position: absolute;
	bottom:0;
	right:0;
}