.detail-view {
  width: 50%;
  height: 100%;
  padding: 10px;
  background-color: #df095e;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  text-align:center;
}

.detail-view a{
  position: relative;
  color: rgba(255,255,255,1);
  background-color: rgba(219,87,5,1);
  font-weight: 700;
  font-size: 3em;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  margin: 10px;
  display: inline-block;
  transition: all .1s ease;
}

.detail-view  a:active {
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.sprite-image {
  width: 80%;
  height: 300px;
  margin: 10px auto;
  background-color: #585858;
  border: 15px solid #DEDEDE;
  border-radius: 5px;
  color: #585858;
}

.data-wrapper {
  width: 80%;
  height: 400px;
  padding: 10px;
  margin: 0 auto;
  background-color: #585858;
  border-radius: 5px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.22);
  color: #FFF;
}

.data-name {
  margin: 0 0 5px;
}

.data-char {
  font-size: 18px;
}