.starter-pokemon {
	text-align: center;
	position: relative;
}
.starter-pokemon p {
	font-size: 75px;
	margin: 20px;
}

.starter-pokemon .pokemon-picker {
	position: relative;
}

.starter-pokemon .pokemon-picker {
	background-color: rgba(0,0,0,0);
	transition: background-color 1s;
}
.starter-pokemon .pokemon-picker:hover {
	background-color: rgba(0,0,0,.8);
}

.starter-pokemon .pokemon-picker:hover img{
	opacity: .2
}

.starter-pokemon .pokemon-picker img {
	width: 375px;
	height: 375px;
	opacity: 1;
	transition: width 1s, height 1s, opacity 1s;
}

.starter-pokemon .pokemon-picker:hover img:hover {
	width:500px;
	height:500px;
	opacity: 1;
}

/* adjust for smaller screen sizes */
@media only screen and (max-width : 1300px) {
	.starter-pokemon p {
		font-size: 50px;
	}

	.starter-pokemon .pokemon-picker img {
		width: 225px;
		height: 225px;
	}

	.starter-pokemon .pokemon-picker:hover img:hover {
		width:350px;
		height:350px;
	}
}

/* adjust for smaller screen sizes */
@media only screen and (max-width : 1000px) {
	.starter-pokemon p {
		font-size: 40px;
	}

	.starter-pokemon .pokemon-picker img {
		width: 150px;
		height: 150px;
	}

	.starter-pokemon .pokemon-picker:hover img:hover {
		width:250px;
		height:250px;
	}
}